* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  background: #1f2937;
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 15%;
}

.top-links {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 90px;
  padding-top: 10px;
}

.left-links {
  font-weight: bold;
  font-size: 20px;
}

.right-links {
  text-decoration: none;

  color: lightgray;
  justify-content: flex-end;
}

button {
  background: rgb(46, 110, 219);
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  padding: 6px 34px;
  color: white;
  text-align: center;
  font-size: 18px;
}
.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.head-info {
  display: flex;
  padding-bottom: 90px;
  gap: 100px;
}

.hero {
  color: white;
  flex: 1;
}

.hero-main {
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 15px;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
  padding-bottom: 15px;
}

.header-image {
  display: flex;
  background-color: gray;
  width: auto;
  flex: 1;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

a {
  text-decoration: none;
  color: gray;
  font-weight: 100;
}

.section-2 {
  padding-top: 80px;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 80px;
}

.title-2 {
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 25px;
  color: #1f2937;
}

.images-2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-content: space-evenly;
  padding-left: 10%;
  padding-right: 10%;
}

.placeholder-2 {
  border: 3px solid rgb(19, 117, 216);
  height: 150px;
  width: 150px;
  align-content: space-evenly;
  border-radius: 8px;
}
.placeholder-text {
  text-align: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-3 {
  background: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 50px;
  justify-content: center;
}

.quote-3 {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
  text-align: justify;
  padding-top: 80px;
  align-items: center;
  max-width: 800px;
  padding-left: auto;
  padding-right: auto;
  align-self: center;
  padding-bottom: 5px;
}

.quote-author {
  font-size: 22px;
  font-weight: bold;
  color: #1f2937;
  text-align: right;
  padding-top: 20px;
  padding-left: 400px;
  align-self: center;
}

.section-4 {
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.call-to-action-container {
  background-color: #3882f6;
  border-radius: 8px;
  margin: 20px;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
  gap: 20%;
  width: 100%;
}

.call-to-action-title {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.call-to-action-info {
  font-size: 14px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.852);
}

.button2 {
  align-self: flex-end;
}
.footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  padding: 40px;
  margin-top: auto;
}
